* {
    background-color: #EEEDF2;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;

}

.theme {
    --primary: #222729;
    --secondary: #FECF4B;
    --accent: #F4966D;
    --fontcolor: #fff;
}

/* Navbar */
.navlinks {
    display: flex;
    list-style: none;
    font-size: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}

.navlist {
    background-color: var(--primary);
    list-style: none;
}

.navlinks a:link,
a:visited {
    color: var(--secondary)
}

.navlinks a:hover {
    color: var(--accent);
}

/* Content */