:root {
    --primary: #222729;
    --secondary: #FECF4B;
    --accent: #F4966D;
    --fontcolor: #fff;
}

* {
    background-color: var(--primary);
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    color: var(--fontcolor);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Navbar */
.navlinks li {
    display: inline-block;
    padding: 0px 20px;
    font-size: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: right;
    padding: 30px 10%;
}

.navlist {
    list-style: none;
}

.navlinks a:link,
a:visited {
    color: var(--secondary);

}

.navlinks a:hover {
    color: var(--accent);
    transition: 1s;
}

/* Content */